{% extends 'base/base.html' %}

{% block content %}
    <form action="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Guardar</button>
    </form>
{% endblock %}